@font-face {
      font-family: "montserrat";
      src: url("../assets/font/Montserrat.ttf");
      src: local("Montserrat"), local("ProximaSoft-SemiBold"),
            url("../assets/font/Montserrat.ttf") format("truetype");
      font-weight: 500;
      font-style: normal;
}

@font-face {
    font-family: "montserrat-italic";
    src: url("../assets/font/Montserrat-Italic.ttf");
    src: local("Montserrat Italic"), local("ProximaSoft-SemiBold"),
          url("../assets/font/Montserrat-Italic.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}