.custom-dialog {
    .mat-dialog-container {
        padding: 16px !important;

        .dialog-content {
            font-family: "montserrat";
            color: #333333;
            width: 100%;

            .dialog-title {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
                overflow-y: hidden;

                .dialog-title-image {
                    width: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .dialog-text {
                margin-top: 8px;
                font-size: 16px;
                text-align: center;
            }

            .dialog-button-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                justify-content: center;
                flex-wrap: nowrap;
                gap: 16px;
                margin-top: 16px;

                &.vertical {
                    flex-direction: column;
                    gap: 8px;
                }
            }
        }
    }

    &.p-0 {
        .mat-dialog-container {
            padding: 0px !important;
        }
    }
    &.overflow-x-hidden {
        overflow-x: hidden !important;
        .mat-dialog-container {
            overflow-x: hidden !important;
        }
    }
    &.bg-transparent{
        .mat-dialog-container {
            background: transparent !important;
        }
    }

    .mat-dialog-actions .mat-button-base + .mat-button-base,
    .mat-dialog-actions .mat-mdc-button-base + .mat-mdc-button-base {
        margin-left: 0px;
    }
}
