.form-control-wrapper {
    .input-label {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 4px;
    }

    .input-wrapper {
        width: 100%;
        height: 42px;
        padding-bottom: 1rem;
        margin-bottom: 0.5rem;

        .input-content {
            width: 100%;
            height: 42px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            border: 1px solid #666;
            border-radius: 4px;

            input {
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: none;
                border-radius: 4px;
                padding: 8px;
                box-sizing: border-box;
                &::placeholder {
                    color: #999999;
                    font-family: "montserrat";
                }
            }
        }
    }

    .input-wrapper-multiline {
        width: 100%;
        padding-bottom: 1rem;
        margin-bottom: 0.5rem;
        .input-content {
            width: 100%;
            textarea {
                width: 100%;
                border-radius: 4px;
                border: 1px solid #666;
                padding: 8px;
                box-sizing: border-box;
                &::placeholder {
                    color: #999999;
                    font-family: "montserrat";
                }
            }
        }
    }
}
