google-map {
    .custom-cluster-class div {
        font-size: 16px !important;
        border-radius: 50%;
        font-family: "proxima_soft_regular" !important;
        font-weight: bold;
        transition: all 0.175s;

        span {
            color: white !important;
            font-size: 14px !important;
            text-shadow:
                1px 1px 2px black,
                0 0 1em black,
                0 0 0.2em black !important;
        }
    }
    .custom-cluster-class-selected div {
        font-size: 16px !important;
        color: #fff !important;
        border-radius: 50%;
        background-color: $color-primary !important;
        font-family: "proxima_soft_regular" !important;
        font-weight: bold;
        box-shadow: 1px 1px 5px 0px black !important;
        transition: all 0.175s;
        span {
            color: white !important;
            font-size: 14px !important;
            text-shadow:
                1px 1px 2px black,
                0 0 1em black,
                0 0 0.2em black !important;
        }
    }

    .post-map-icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 18px;

        img {
            margin-bottom: 10px;
            width: 20px;
            height: 20px;
        }

        &.post-demand-map-icon {
            background-image: url(../assets/icons/post-bubble-violet.png);
        }

        &.post-offer-map-icon {
            background-image: url(../assets/icons/post-bubble-white.png);
        }
    }

    .cluster-map-icon {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;

        span {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            color: #fff;
            margin-right: 14px;
            margin-top: 4px;
        }

        &.cluster-mix-map-icon {
            background-image: url(../assets/icons/cluster-mix.png);
        }
        &.cluster-demand-map-icon {
            background-image: url(../assets/icons/cluster-demand.png);
        }
        &.cluster-offer-map-icon {
            background-image: url(../assets/icons/cluster-offer.png);
            span {
                color: var(--color-accent);
            }
        }
    }
}
