.post-card {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px #00000040;


    .post-card-header {
        width: 100%;
        height: 44px;
        padding: 10px 8px;
        box-sizing: border-box;
        background-color: #f5f5f5;
        color: var(--color-accent);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px 10px 0 0;

        svg.icon {
            path {
                fill: var(--color-accent);
            }
        }
        span.title {
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            margin-left: 24px;
            color: var(--color-accent);
        }
    }

    .post-card-content {
        padding: 24px 8px;
    }
}
