*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: var(--color-bg-app);
	font-family: 'montserrat';
}

h1,h2,h3,
h4,h5,h6,
p,a,button {
	margin: 0;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

textarea {
	resize: none;
}
