.custom-slide-toggle {
    /* ACCENT */
    &.slide-toggle-primary.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
        background-color: color-alpha(var(--color-primary), 0.75);
    }

    &.slide-toggle-primary.mat-slide-toggle .mat-slide-toggle-bar {
        background-color: color-alpha(var(--color-primary), 0.25);
    }

    &.slide-toggle-primary.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        background-color: var(--color-primary);
    }

    &.slide-toggle-primary.mat-slide-toggle.mat-checked .mat-slide-toggle-ripple .mat-ripple-element {
        background-color: var(--color-primary);
    }
    /* ACCENT */
    &.slide-toggle-accent.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
        background-color: color-alpha(var(--color-accent), 0.75);
    }

    &.slide-toggle-accent.mat-slide-toggle .mat-slide-toggle-bar {
        background-color: color-alpha(var(--color-accent), 0.25);
    }

    &.slide-toggle-accent.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        background-color: var(--color-accent);
    }

    &.slide-toggle-accent.mat-slide-toggle.mat-checked .mat-slide-toggle-ripple .mat-ripple-element {
        background-color: var(--color-accent);
    }
}
