.custom-slider {
    .mat-slider-thumb {
        background-color: #fff !important;
        border: none !important;
        box-shadow: 0px 0px 5px #000;
        outline: 2px solid var(--color-primary);
        width: 44px !important;
        height: 44px !important;
        right: -22px !important;
        bottom: -22px !important;
    }

    .mat-slider-track-fill {
        background-color: var(--color-primary) !important;
    }

    .mat-slider-track-fill,
    .mat-slider-wrapper,
    .mat-slider-track-wrapper,
    .mat-slider-track-background {
        height: 16px !important;
        border-radius: 50px;
    }

    .mat-slider-track-background,
    &.mat-slider:hover .mat-slider-track-background,
    &.mat-slider.cdk-focused .mat-slider-track-background {
        background-color: color-alpha(var(--color-primary), 0.25);
    }

    &.mat-slider:not(.mat-slider-disabled).cdk-mouse-focused .mat-slider-thumb {
        transform: scale(0.75) !important;
    }

    &.slider-primary {
        .mat-slider-thumb {
            outline: 2px solid var(--color-primary) !important;
        }

        .mat-slider-track-fill {
            background-color: var(--color-primary) !important;
        }

        .mat-slider-track-background,
        &.mat-slider:hover .mat-slider-track-background,
        &.mat-slider.cdk-focused .mat-slider-track-background {
            background-color: color-alpha(var(--color-primary), 0.25) !important;
        }
    }

    &.slider-accent {
        .mat-slider-thumb {
            outline: 2px solid var(--color-accent) !important;
        }

        .mat-slider-track-fill {
            background-color: var(--color-accent) !important;
        }

        .mat-slider-track-background,
        &.mat-slider:hover .mat-slider-track-background,
        &.mat-slider.cdk-focused .mat-slider-track-background {
            background-color: color-alpha(var(--color-accent), 0.25) !important;
        }
    }

    &.mat-slider-disabled {
        .mat-slider-thumb {
            outline: 2px solid var(--color-disabled) !important;
        }

        .mat-slider-track-fill {
            background-color: var(--color-disabled) !important;
        }

        .mat-slider-track-background,
        &.mat-slider:hover .mat-slider-track-background,
        &.mat-slider.cdk-focused .mat-slider-track-background {
            background-color: color-alpha(var(--color-disabled), 0.25) !important;
        }
    }
}
