.snack-bar-success {
    background-color: var(--color-primary) !important;
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    div.mat-simple-snackbar-action {
        color: #fff !important;
    }
}

.snack-bar-info {
    background-color: var(--color-warn) !important;
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    div.mat-simple-snackbar-action {
        color: #fff !important;
    }
}

.snack-bar-warning {
    background-color: var(--color-warn) !important;
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    div.mat-simple-snackbar-action {
        color: #fff !important;
    }
}

.snack-bar-error {
    background-color: var(--color-warn) !important;
    color: white !important;
    font-size: 16px;
    font-weight: 400;
    div.mat-simple-snackbar-action {
        color: white !important;
    }
}

.mat-snack-bar-container {
    margin: 15px 0 !important;
    padding: 14px 20px !important;
    font-family: "montserrat";
}

.mat-snack-bar-handset {
    width: 90% !important;
}
