.spinner-primary {
    circle {
        stroke: var(--color-primary);
    }
}

.spinner-accent {
    circle {
        stroke: var(--color-accent);
    }
}

.spinner-on-primary {
    circle {
        stroke: var(--color-on-primary);
    }
}

.spinner-on-accent {
    circle {
        stroke: var(--color-on-accent);
    }
}
