.mat-tab-group-without-header {
    .mat-tab-header {
        display: none;
    }
}

.mat-tab-group-full-size {
    width: 100%;
    height: 100%;

    .mat-tab-body-wrapper {
        width: 100%;
        height: 100%;

        .mat-tab-body {
            width: 100%;
            height: 100%;

            .mat-tab-body-content {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }
    }
}

.mat-tab-group-profile {
    display: flex;
    .mat-tab-header {
        border-bottom: 0px !important;
        width: 92%;
        position: sticky;
        height: 100%;
        top: -1px;
        z-index: 5;
        background: #fff;
        box-shadow: 27px 0px #fff,  -27px 0 #fff;
    }

    .mat-tab-label .mat-tab-label-content {
        font-family: 'Montserrat';
        line-height: 24px;
        font-size: 15px;
    }

    .mat-tab-labels {
        display: flex;
        font-family: 'Montserrat';
        justify-content: space-around;
        align-items: center;
        font-weight: 200;
        border-bottom: 0.5px solid var(--color-burdeo) !important;
    }

    .mat-tab-label {
        width: 100%;
        padding: 0;
        color: var(--color-warn);
    }

    .mat-tab-label-active {
        background: var(--color-burdeo);
        color: #FFFFFF;
        font-weight: 700;
        opacity: 1;
    }

    .mat-ink-bar {
        background: transparent !important;
    }
}
